<div class="panel panel-default col-xs-4">
  <div class="panel-body">
    <%= link_to image_tag("#{politician.image_name}"), politician_path(politician) %>
    <h3><%= link_to politician.full_name, politician_path(politician)  %></h3> 
      <p><%= politician.senate_or_house %></p>
    </div>
</div>


