<div class="container">
    <div class="row">
        <div class="col-md-2">
            <%= image_tag("#{politician.image_name}",
          :alt => "#{politician.image_name}") %>
        </div>
        <div class="col-md-10">
          <h3><%= politician.full_name  %></h3>
          <p><%= politician.senate_or_house %></p>
        </div>
    </div>
</div>